body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: sans-serif;

  cursor: default;
  user-select: none;
}

#root {
  display: flex;
  height: 100%;
}

/* Hack to make react-toolbox dropdowns appear in correct place */
.ZzBNK:not(._1OA-G) > ._2767w {
  top: 20px;
}
.ZzBNK._1OA-G > ._2767w {
  bottom: 20px;
}
